<div id="modalDelete">
    <div class="row">
        <div class="col-md-12">
            <div name="DeleteForm" class="col-md-6">
                <div class="row">
                    <span class="col-md-2">ID</span>

                    <div class="col-md-9">{{category.id}}</div>
                </div>
                <div class="row">
                    <span class="col-md-2">Name</span>
                    <span class="col-md-9">{{category.name}}</span>
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right col-md-10">
                <span style="font-size: 30px; ">Delete this Poster?</span>
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </ul>
        </div>
    </div>
</div>