<form class="form-horizontal col-sm-10 text-center" ng-controller="NewUser">
    <legend class="col-md-10">Registration</legend>
    <div class="col-md-3"></div>
    <fieldset class="col-md-3">
        <div class="form-group">
            <label for="inputUsername" class="col-md-3 control-label">Username</label>

            <div class="col-md-9">
                <input type="text" class="form-control" id="inputUsername" ng-model="newUser.username" required
                       placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-md-3 control-label">Password</label>

            <div class="col-md-9">
                <input type="password" class="form-control" id="inputPassword" ng-model="newUser.password"
                       ng-pattern="/((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{8,64})/g" required placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPasswordRepeat" class="col-md-3 control-label">Confirm Password</label>

            <div class="col-md-9">
                <input type="password" class="form-control" id="inputPasswordRepeat" ng-model="newUser.passwordRpt"
                       required placeholder="Password" password-match="password1">
            </div>
        </div>
        <div class="form-group">
            <label for="inputName" class="col-md-3 control-label">Name</label>

            <div class="col-md-9">
                <input type="text" class="form-control" id="inputName" required placeholder="Name">
            </div>
        </div>
    </fieldset>
    <fieldset class="col-md-3">
        <div class="form-group">
            <label for="inputEmail" class="col-md-2 control-label">Email</label>

            <div class="col-lg-10">
                <input type="email" class="form-control" id="inputEmail" ng-model="newUser.email" required
                       placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPhone" class="col-md-2 control-label">Phone</label>

            <div class="col-lg-10">
                <input type="tel" class="form-control" id="inputPhone" ng-model="newUser.phone" placeholder="Phone">
            </div>
        </div>

        <div class="form-group">
            <label for="select" class="col-md-2 control-label">Town</label>

            <div class="col-md-10">
                <select class="form-control" id="select">
                    <option></option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                </select>
            </div>
        </div>
    </fieldset>
    <div class="col-lg-10">
        <div class="col-lg-10">
            <button type="submit" ng-click="register(newUser)" class="btn btn-primary">Submit</button>
            <input type="button" class="btn btn-default" ng-click="reset()" value="Reset"/>
            <button class="btn btn-default">Cancel</button>
        </div>
    </div>
</form>
