<main class="row">
    <nav class="col-md-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">By Status</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li><a href ng-click="filterByStatus('')">All</a></li>
                    <li><a href ng-click="filterByStatus('Published')">Published</a></li>
                    <li><a href ng-click="filterByStatus('WaitingApproval')">Waiting Approval</a></li>
                    <li><a href ng-click="filterByStatus('Inactive')">Inactive</a></li>
                    <li><a href ng-click="filterByStatus('Rejected')">Rejected</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="col-md-8">
        <div class="row">
            <ul class="col-md-12">
                <li ng-repeat="userAd in userAds.ads | filter: {status: statusFilter}">
                    <!--| filter:{categoryId: categoryFilter}-->
                    <div class="row">
                        <h3 class="col-sm-10"><strong>{{userAd.title}}</strong></h3>
                        <span class="col-sm-2">
                            {{userAd.date | date: 'hh-MMM-yyyy'}}
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="" ng-src="{{userAd.imageDataUrl}}">
                        </div>
                        <div class="col-md-8">
                            <div class="modul">
                                <p class="col-md-12">{{userAd.text}}</p>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    Seller:
                                </div>
                                <div class="col-md-9">
                                    ME
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    Category:
                                </div>
                                <div class="col-md-9">
                                    {{userAd.categoryName}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    Town:
                                </div>
                                <div class="col-md-9">
                                    {{userAd.townName}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    Status:
                                </div>
                                <div class="col-md-9">
                                    {{userAd.status}}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <pagination style="margin:5px auto;" total-items="totalItems" items-per-page="itemsPerPage"
                    ng-model="currentPage"
                    ng-click="pageChanged()"></pagination>
    </section>
    <nav class="col-md-2">
        <label>Display items in page:</label>
        <input class="col-md-10" type="number" ng-model="user.itemsPerPage" placeholder="posters displayed">
        <input class="col-md-10" type="submit" ng-click="pageSizeChanged(user.itemsPerPage)" value="Submit"/>
    </nav>
</main>