#wrapper div main section div ul li {
    background-color: #4E5D6C;
    margin: 0 5px 5px 5px;
    padding: 10px 10px;
    box-shadow: 1px 1px 4px #454545;
}

ul, nav {
    text-overflow: ellipsis;
    padding: 5px;
}

li {
    list-style: none;
}

#wrapper div main nav div div.panel-body.ng-scope ul a {
    font-size: 18px;
}

#modalDelete > div > div > div:nth-child(2) > div.col-md-3 > img {
    width: 200px;
    height: auto;
    min-height: 120px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#modalDelete {
    padding: 5px;
}

#wrapper div main section div ul li div div img {
    width: 200px;
    height: auto;
    min-height: 120px;
}

p {
    max-height: 100px;
    width: auto;
    overflow: hidden;
    word-wrap: break-word;
}

#modalEdit > div > div.col-md-3 > img {
    width: 200px;
    height: auto;
    min-height: 120px;
    width: 200px;
}

#modalEdit {
    padding: 10px;
}

#modalEdit .row {
    margin: 5px;
}

#alerts * {
    display: none;
}

#adminNav {

    background-color: #6892BD;
}