#wrapper div main section div ul li {
    background-color: #4E5D6C;
    margin: 0 5px 5px 5px;
    padding: 10px 10px;
    box-shadow: 1px 1px 4px #454545;
}

ul,nav{
    text-overflow: ellipsis;
    padding: 5px;
}

li {
    list-style: none;
}

#wrapper div main nav div div.panel-body.ng-scope ul a {
    font-size: 18px;
}

#wrapper div main section div ul li div div img {
    width: 200px;
    height: auto;
    min-height: 120px;
    background-image: url('../images/No_image_available.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

p {
    max-height: 100px;
    width: auto;
    overflow-y: hidden;
}